workflows/Cku90vL3pHc7251v.json
{
  "id": "Cku90vL3pHc7251v",
  "name": "Email validator",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        0
      ],
      "id": "6a8f60a0-bcdf-4c3f-89ec-6fc161107caa",
      "name": "start"
    },
    {
      "parameters": {
        "jsCode": "// Получаем email из предыдущего узла\nconst email = $input.item.json.email;\n\n// Регулярное выражение для валидации email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n// Валидация email\nconst isValid = email ? emailRegex.test(email) : false;\n\n// Приводим к нижнему регистру\nconst normalizedEmail = email ? email.toLowerCase().trim() : '';\n\n// Возвращаем результат\nreturn {\n  json: {\n    valid: isValid,\n    email: normalizedEmail\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        0
      ],
      "id": "65f5876f-3bcf-4cf4-8a09-69507090f285",
      "name": "primary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc0fac8c-64f9-46d6-ba5c-f1680ac71863",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        0
      ],
      "id": "c70ebbd7-244b-42f4-a285-922e623998ef",
      "name": "primary result"
    },
    {
      "parameters": {
        "url": "https://api.quickemailverification.com/v1/verify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        0
      ],
      "id": "c6e98383-e436-4aff-b6b1-228188b47d4a",
      "name": "quickemailverification",
      "credentials": {
        "httpQueryAuth": {
          "id": "Nn4c5oIBgQbPzTkp",
          "name": "Quickemailverification"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e655542-7665-40a8-ad1f-22d2cad5c5c9",
              "leftValue": "={{ $json.result }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        0
      ],
      "id": "0c719ba8-af64-441e-9b38-251d157328fa",
      "name": "secondary result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb328a9e-8364-4923-9bc6-68433db1f62f",
              "name": "valid",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "c9ad701a-5fad-481e-baa0-3f80ced08c94",
              "name": "email",
              "value": "={{ $node[\"primary\"].json[\"email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        256
      ],
      "id": "19b43019-0de9-498f-ab6e-500282b7f757",
      "name": "good"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb328a9e-8364-4923-9bc6-68433db1f62f",
              "name": "valid",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        256
      ],
      "id": "ed380c3f-851a-44e7-b4a5-92503e689037",
      "name": "bad"
    }
  ],
  "connections": {
    "start": {
      "main": [
        [
          {
            "node": "primary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primary": {
      "main": [
        [
          {
            "node": "primary result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "primary result": {
      "main": [
        [
          {
            "node": "quickemailverification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quickemailverification": {
      "main": [
        [
          {
            "node": "secondary result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "good",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secondary result": {
      "main": [
        [
          {
            "node": "good",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "uG4YJnnTISaYTXXk",
    "saveDataSuccessExecution": "none"
  },
  "triggerCount": 0,
  "versionId": "89335bb9-1641-44f0-9c42-387206ba553a",
  "owner": {
    "type": "personal",
    "projectId": "I8ZweZXokOc0zbYb",
    "projectName": "BSU Agency <info@brilliantseedup.com>",
    "personalEmail": "info@brilliantseedup.com"
  },
  "parentFolderId": "kK192fbu6GJvHsuJ",
  "isArchived": false
}